<div *ngIf="showComponentFlag" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <legend>
                    <strong>{{legend}} Task</strong>
                </legend>
            </div>
            <div class="modal-body">
                <form #entryForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form row">
                        <div class="form-group col-md-6">
                            <label for="user"><strong>User</strong></label>
                            <select id="user" name="user" [(ngModel)]="userSelected" (change)="onUserSelect()">
                                <option *ngFor=" let userItem of userSelectList" [value]="userItem">
                                    {{userItem}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="project"><strong>Project</strong></label>
                            <select id="project" name="project" [(ngModel)]="projectSelected"
                                (change)="onProjectSelect()">
                                <option *ngFor=" let projectItem of projectSelectList" [value]="projectItem">
                                    {{projectItem}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="details"><strong>Details</strong></label>
                            <input type="text" id="details" class="form-control" name="details" placeholder="Details"
                                [(ngModel)]="formData.DETAILS" required>
                        </div>
                        <div class="form-group col-md-6" *ngIf="legend === 'Edit'">
                            <label for="status"><strong>Status</strong></label>
                            <select id="status" name="status" [(ngModel)]="statusSelected" (change)="onStatusSelect()">
                                <option *ngFor=" let statusItem of statusSelectList" [value]="statusItem">
                                    {{statusItem}}</option>
                            </select>
                        </div>
                        <div class="text-right">
                            <br />
                            <span class="clsError">{{errorMsg}}</span><br /><br />
                            <button type="submit" class="btn btn-primary">Submit</button>
                            &nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-secondary" (click)="onCloseDialog()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
